@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Cormorant:wght@500&family=Exo+2:wght@700&family=Mate+SC&family=Merriweather:wght@700&family=Monoton&family=Noto+Sans+Bengali:wght@700&family=Open+Sans:wght@800&family=Orbitron:wght@700&family=Playfair+Display:wght@600&family=Righteous&family=Roboto:wght@500;700;900&family=Tektur:wght@600;700&family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;1,200&display=swap');

* {

    font-family: 'Cormorant', serif;
    font-family: 'Mate SC', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Monoton', sans-serif;
    font-family: 'Noto Sans Bengali', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Righteous', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Tektur', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Zeyada', cursive;
    font-family: 'Bungee Spice', sans-serif;
    font-family: 'Exo 2', sans-serif;
}

/* Shared CSS */
h1 {
    font-size: 40px;
    color: orangered;
}

button {
    height: 5vh;
    width: 7.5vw;
    max-width: 100%;
    border-radius: 10px;
    border: none;
    background-color: orangered;
    color: white;
}
body{}
/* header */
header {
    padding: 0 235px;
    margin-top: 20px;
}

/* nav and logo section */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 48px;
    height: 56.008px;
    flex-shrink: 0;

}

.logo .ppp {
    color: black;
    font-size: 35px;
}

.wwe {
    color: orangered;
}

.nav-bar {
    display: flex;
    gap: 20px;
}

.nav-bar li {
    list-style: none;
}

.nav-bar li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* top side */
.top-class {
    height: 70vh;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.511), rgba(117, 19, 93, 0.628)), url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.contact {
    text-align: center;
}

.contact h1 {
    font-size: 4rem;
    color: white;
    margin-bottom: 2vh;
    font-family: 'Exo 2', sans-serif;
}

.contact p {
    color: white;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.inputX {
    background-color: rgba(255, 255, 255, 0.361);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 20px;
    justify-content: space-around;
    border-radius: 20px;
}

.box .mom {
        height: 5vh; 
        max-width: 100%; 
        border-radius: 10px;
        border: none;
    }

.box .momx {
        height: 5vh; 
        max-width: 100%; 
        border-radius: 10px;
        border: none;
}
.box .mom1 {
    height: 5vh; 
    max-width: 100%; 
    border-radius: 10px;
    border: none;
}

.box4>button {
    height: 5vh;
    width: 7.5vw;
    border-radius: 10px;
    border: none;
    background-color: orangered;
    color: white;
}

::placeholder {
    padding-left: 10px;
}
/* second section */
.sec-section {
    padding: 20px 235px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.text p {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    color: rgb(106, 106, 106);
}

.gap li {
    margin-top: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: rgb(98, 98, 98);
}

.left>h1 {
    margin-bottom: 10px;
}

.right img{

    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}


/* why choose CSS */
.choose {
    padding: 0 235px;
    margin-top: 7vh;
    text-align: ;
}

.lock {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
   
}

.house {
    padding: 40px 30px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.house2 {
    padding: 40px 30px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.house p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1rem;
}
.house2 p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1rem;
}

.move {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.move p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 1rem;
}

.lock2{
    margin-top: 3vh;
    padding: 40px 30px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}

.container1{
    margin-top: 9vh;
} 
.mid{
    text-align: center;
}
.red{
    border: 4px solid orangered;
    width: 3vw;
    border-radius: 10px;

}
.deals{
        padding: 0 235px;
        margin-top: 9vh; 
}
.cov{
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 3vw;
    margin-top: 9vh;
    background-image: url('/Images/Group\ 39.png');
    opacity:0.9 ;
}
.cov2{
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 3vw;
    margin-top: 2vh;
    background-image: url('/Images/Group\ 40.png');
    opacity:0.9 ;
}
.cov3{
    height: 55vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 3vw;
    margin-top: 2vh;
    background-image: url('/Images/Group\ 39.png');
    opacity:0.9 ;
}
.del{
    width:50%;
    height: 45vh;
    background: rgba(255, 255, 255, 0.80);
    border-radius: 20px;
}
.img-container{
    display: flex;
    padding-top: 60px;
    padding-left: 60px;
    color: orangered;
}
.img-container img{
    padding: 10px;
}
.content{
    padding-left: 70px;
    margin-top: -25px;
}
.content h1{
    font-size: 30px;
}
.content h2{
    font-size: 20px;
    color: orangered;
}
.button2{
    height: 8vh;
    width: 12vw;
    border-radius: 10px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 1.4rem;
    margin-top: 2vh;
    text-align: center;
}
.bbt{
    display: flex;
    justify-content: center;
}

.media{
    padding: 0 235px;
    margin-top: 9vh; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right iframe{
    width:610px ;
    height: 410px;
}




/* news letter section */
.newsletter {
    padding: 0 5%;
    margin-top: 9vh;
    display: flex;
    align-items: center;
    flex-direction: ;
    justify-content: space-around;
}

.forma {
    padding: 4vh 4vw;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.forma h1{
    font-size: 40px;
    font-weight: 800s;
}

.xox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.xox input {
    height: 4vh;
    width: 100%;
    max-width: 100%; 
    border-radius: 20px;
    background-color: rgb(193, 193, 193);
    border: none;
    padding: 10px;
    box-sizing: border-box; 
}

.object {
    height: 5vh;
    width: 100%;
    max-width: 100%; 
    border-radius: 10px;
    border: none;
    background-color: orangered;
    color: white;
}

.igi {
    position: relative;
}

.rol {
    position: absolute;
    padding-left: 20px;
    font-size: 20px;
    color: white;
}

.box5 {
    position: absolute;
    background-color: orangered;
    text-align: center;
    width: 50%;
    max-width: 100%; 
    height: 12vh;
    transform: rotate(-19.628deg);
    margin-top: 22vh;
    margin-left:17vw;
    margin-right: auto;
    border-radius: 10px;
}

/* glow effect */
.box5 h1 {
    font-size: 30px;
    color: white;
    animation: bulb 1s ease-in-out infinite alternate;
}

.box5 h3 {
    color: white;
}

@-webkit-keyframes bulb {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #cb2900, 0 0 40px;
    }
    
    to {
      text-shadow: 0 0 20px #730000, 0 0 30px #ae0101, 0 0 40px ;
    }
}

.iimag {
    width: 40%;
    height: 40.2vh;
    background-image: url('/Images/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    background-color: red;
}


/* footer */
footer{
    margin-top: 9vh; 
    height: 50vh;
    width: 100%;
    background: rgba(19, 19, 24, 0.05);
}
.priority{
text-align: center;
padding-top: 100px;
font-size: 15px;
}

.logox{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.ppp{
    color: black;
}
.nax{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nax li {
    list-style: none;
    padding: 20px;
    font-size: 30px;

}
.panthom{
    width: 80%;
}


/* bonus Section */

.award {
    width: 10vw;
    height: 10vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 2px solid orangered;
    transition: transform 0.2s ease-in-out;
}

.award:hover {
    background-color: orangered;
    color: white;
    transform: scale(1.1);
}

.project {
    width: 10vw;
    height: 10vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid orangered;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.project:hover {
    background-color: orangered;
    color: white;
    transform: scale(1.1);
}

.client {
    width: 10vw;
    height: 10vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid orangered;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.client:hover {
    background-color: orangered;
    color: white;
    transform: scale(1.1);
}

.email {
    width: 10vw;
    height: 10vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid orangered;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.email:hover {
    background-color: orangered;
    color: white;
    transform: scale(1.1);
}

.alt img {
    margin-bottom: 5px;
}

.alt h1 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alt p {
    margin-top: 5px;
}

.ttl {
    padding: 0 240px;
    display: flex;
    align-items: center;
}

.ttl h1 {
    font-size: 40px;
    color: orangered;
}

.vline2 {
    border-left: 10px solid orangered;
    height: 100px;
    padding-right: 1vw;
}

.wow {
    margin-bottom: 25px;
}

.wow h1 {
    margin-bottom: 5px;
}

.wow p {
    margin-top: 5px;
}
.someoff{
    padding: 0 235px;
    margin-top: 9vh; 
}
.facts{
    display: flex;
    align-items: center;
   justify-content: center;
   gap: 40px;
}
.ttl{
    padding: 0 235px;
    margin-top: 9vh; 
}

@media (max-width: 600px) {
    .someoff,
    .ttl {
        padding: 0 10px;
    }

    .facts {
        flex-wrap: wrap;
    }

    .award,
    .project,
    .client,
    .email {
        width: 45vw;
        height: 30vh;
        margin-bottom: 10px;
    }
    .facts{
        display: grid;
        flex-wrap: wrap;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Media query for desktop devices */
@media (min-width: 601px) and (max-width: 900px) {
    .someoff,
    .ttl {
        padding: 0 50px;
    }
}


/* media files */


/* footer media */
@media only screen and (min-width: 900px) {
    .priority {
        padding-top: 50px;
        font-size: 18px;
    }

    .nax li {
        padding: 10px; 
        font-size: 40px;
    }

    .panthom {
        width: 60%;
    }
}

/* Media query for mobile screens with a width of 300 pixels or less */
@media only screen and (max-width: 600px) {
    .priority {
        padding-top: 30px; 
        font-size: 12px;
    }

    .nax li {
        padding: 5px;
        font-size: 20px; 
    }

    .panthom {
        width: 90%;
    }
}



/* newletter media */
@media only screen and (max-width: 600px) {
    .box5 {
        margin-top: 23vh;
        margin-left: 42vw;
    }
    .newsletter {
        flex-direction: column;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .box5 h1{
        margin-top: -20px;
    }
 
    .iimag{
     width: 100%;
    }
}
@media only screen and (min-width: 900px) {
    .newsletter {
        flex-direction: row;
    }
}

/* Whychoose media */
@media only screen and (max-width: 600px){
    .choose {
        padding: 0 60px;
        margin-top: 7vh;
        text-align: ;
    }

    .lock{
        width: 100%;
        height: auto;
        flex-direction: column;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .lock2{
        width: 100%;
        height: auto;
        flex-direction: column;
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}


/* Tour media */
@media only screen and (max-width: 600px) {
    .sec-section{
        padding: 20px 60px;
        height: auto;
        flex-direction: column;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    
    .right{
        width: 100%;
        height: auto;
    }
    
    }
    @media only screen and (min-width: 900px) {
     
    }



    /* top section media */
    @media only screen and (max-width: 600px) {
        header {
            padding: 5%;
        }
        
        .contact h1,
        h1 {
            font-size: 1.5rem;
        }
    
        .inputX {
            flex-direction: column;
            gap: 10px;
    
        }
        button{
           padding: 0px 105px;
           display: flex;
           align-items: center;
           justify-content: center;
        }
        .mom{
            padding: 0px 144px;
        }
        .momx{
            padding: 0 160px;
        }
        .mom1{
            padding: 0px 120px;
        }
        .mom1::placeholder{

        }
    }
    /* Simple perfect */
@media only screen and (max-width: 600px){
    .media {
        padding: 0 60px;
        margin-top: 7vh;
        text-align: ;
        display: grid;
        flex-wrap: wrap;
        justify-content: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .left{
        width: 100%;
        height: auto;
        flex-direction: column;
       
    }
    .right iframe {
        width: 100%;
        height: 300px;
    }
}
/* deals */

@media screen and (max-width: 600px) {
    .deals {
        padding: 0 20px;
    }

    .cov,
    .cov2,
    .cov3 {
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .del{
        width: 110%;
        margin-left: 0px;   
    }

    .content {
        text-align: center;
    }
    .img-container{
        display: flex;
        padding-top: 30px;
        padding-left: 100px;
    }
    .content{
    text-align: center;
    margin-right: 50px;
    }  
    .button2{
        width: 100%;
    }
    .content p {
        font-size: 0.9rem;
    }
    button{
        width: 90vw;
    }
    .shild1{
        margin-left:-20px;
    }

}

/* nav bar and logo */
@media screen and (max-width: 600px)
{
    .all{
        display: grid;
        flex-wrap:wrap;
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
    .logo{
        justify-content: center;
    }

}
















